body {
  font-family: 'Space Mono', monospace;
  color: rgb(202, 202, 202);
  background-color: rgb(49, 49, 49);
}

a {
  color: rgb(202, 202, 202);
  font-style: italic;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 3rem;
}

